{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Hello, {{ request.user.username }}!</h1>
            <p class="lead">This is page contains all your account informations.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 center border-right">
                <table class='table'>
                    <tbody>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td> {{profile.get_full_name| default:'<span class="text-secondary">Fill up your profile.</span>'}} </td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td> {{profile.email}}</td>
                        </tr>
                        <tr>
                            <td><strong>Username</strong></td>
                            <td> {{profile.username}}</td>
                        </tr>
                        <tr>
                            <td><strong>User Bio</strong></td>
                            <td> {{profile.profile.bio| default:'<span class="text-secondary">Fill up your profile.</span>'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12 center">
                <a class="btn btn-primary" href="{% url 'accounts.profile.edit'%}">Edit Profile</a>
                <a class="btn btn-primary" href="{% url 'password_change'%}">Change Password</a>
            </div>


        </div>
    </div>
{% endblock content %}
