{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mx-auto my-4">
            <div class="col-md-10 col-sm-12 mx-auto">
                <div class="row">
                    <div class="col-md-5 col-sm-12 center border-right">
                        <div class="centered-container-wrap">
                            <div class="centered-container">
                                <div class="text-md-right text-center d-block mr-md-5">
                                    <h1 class="mb-1"><i class="fas fa-sm fa-user-plus text-success"></i> Profile Edit</h1>
                                    <p class="text-muted">Edit and manage your user profile.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <form method="post" class="ml-md-5">
                            {% csrf_token %}
                            {{ user_form|crispy }}
                            {{ profile_form|crispy }}
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
