{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    <div class="col-md-6 col-sm-12 mx-auto">
                        <div class="text-md-center text-center d-block mr-md-5">
                            <h1 class="text-center mb-4">
                                <i class="fas fa-sm fa-check-circle text-success"></i> Logged out
                            </h1>
                            <p class="mb-1 text-muted">You have been logged out.</p>
                            <p class="mb-1 text-muted">Thank you</p>

                            <p class="mt-4"><a href="{% url 'login' %}">Login</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
