{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    <div class="col-md-8 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 center border-right">
                                <div class="centered-container-wrap">
                                    <div class="centered-container ">
                                        <div class="text-md-right text-center d-block mr-md-5">
                                            <h1 class="mb-1"><i class="fas fa-sm fa-sign-in-alt text-success"></i> Login</h1>
                                            <p class="mb-1 text-muted">Login to see magic.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <form method="post" class="ml-md-5">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                    <p class="mt-5 mb-1 text-muted text-center">Not registered ? <a
                                            href="{% url 'accounts.register' %}">Register Now</a></p>
                                    <p class="text-muted text-center"><a href="{% url 'password_reset' %}">Forgot
                                        Password</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
