{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mx-auto my-4">
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-sm-12 center border-right">
                        <div class="centered-container-wrap">
                            <div class="centered-container">
                                <div class="text-md-right text-center d-block mr-md-5">
                                    <h1 class="h3">
                                        <i class="fas fa-sm fa-key text-success"></i>  Change Password
                                    </h1>
                                    <p class="text-muted">Change your account login password</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <form method="post" class="ml-md-5">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success btn-block">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
