{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    <div class="col-md-6 col-sm-12 mx-auto">
                        <div class="d-block mr-md-5">
                            <h1 class="h3 text-center mb-4">
                                <i class="fas fa-sm fa-check-circle text-success"></i> Password reset sent
                            </h1>
                            <p class="text-muted">We've emailed you instructions for setting your password, if an
                                account exists with the email you entered. You should receive them shortly.</p>
                            <p class="text-muted">If you don't receive an email, please make sure you've entered
                                the address you registered with, and check your spam folder.</p>

                            <p class="mt-4 text-center"><a href="{% url 'login' %}">Login</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
