{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    <div class="col-md-6 col-sm-12 mx-auto">
                        <div class="text-md-center text-center d-block mr-md-5">
                            <h1 class="h3 text-center mb-4">
                                <i class="fas fa-sm fa-key text-success"></i> Password Changed
                            </h1>
                            <p class="mb-1 text-muted">Your accont password is now changed, <br/>use your new password for login.</p>
                            <a class="btn btn-success my-4" href="{% url 'accounts.profile' %}">Go to Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
