{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container-root">
        <div class="centered-container-wrap">
            <div class="centered-container">
                <div class="row mx-auto">
                    {% if form %}
                        <div class="col-md-8 col-sm-12 mx-auto">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 center border-right">
                                    <div class="centered-container-wrap">
                                        <div class="centered-container ">
                                            <div class="text-md-right text-center d-block mr-md-5">
                                                <h1 class="mb-1 h3">
                                                    <i class="fas fa-sm fa-key text-success"></i> Password Reset
                                                </h1>
                                                <p class="mb-1 text-muted">Set your new password.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12">
                                    <form method="post" class="ml-md-5">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-sm-12 mx-auto">
                            <div class="d-block mr-md-5">
                                <h1 class="h3 text-center mb-4">
                                    <i class="fas fa-sm fa-times-circle text-danger"></i> Password reset unsuccessful
                                </h1>
                                <p class="text-muted">The password reset link was invalid, possibly because it
                                    has already been used. Please request a new password reset.</p>

                                <p class="mt-4 text-center text-muted">Send <a href="{% url 'password_reset' %}">reset password</a> again?</p>

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
